<!-- FOOTER -->
<footer class="footer">
    <div class="socials-footer">
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
    <!-- footer instagram -->
    <!--<aside class="insta">-->
    <!--<h3 class="insta-title"><span>Instagram</span></h3>-->
    <!--<div class="social-feed" data-social-network="instagram" data-username="renan_ozturk" data-limit="12"></div>-->
    <!--</aside>-->
    <!-- footer instagram -->

    <div class="container"><span class="rights">© 2017 <%= site_name %> - All Rights Reserved.</span></div>
    <div class="container"><span class="rights">也许你需要备案？？？</span></div>
</footer>

<!-- SCRIPTS -->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/jquery-migrate/3.0.0-rc1/jquery-migrate.min.js"></script>
<script src="https://cdn.staticfile.org/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.staticfile.org/flexslider/2.6.3/jquery.flexslider.min.js"></script>
<script src="/scripts/socialstream.jquery.js"></script>
<script src="https://cdn.staticfile.org/owl-carousel/1.32/owl.carousel.min.js"></script>
<script src="https://unpkg.com/react@15/dist/react.min.js"></script>
<script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
<!--all other scripts here-->
<script src="/scripts/main.js"></script>

</body>
</html>
