<a href="http://facebook.com/themelog" target="_blank"><i class="fa fa-weixin" aria-hidden="true"></i></a>
<a href="http://facebook.com/themelog" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a>
<a href="http://facebook.com/themelog" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a>
<a href="http://facebook.com/themelog" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="http://twitter.com/theme_log" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
